.tooltip__title {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
  }
  
  @media screen and (max-width:560px) {
    .tooltip__title {
      font-size: 20px;
      line-height: 24px;
    }
  }